
.slider-item{
    background-color: rgb(0, 0, 0);
    /* width: 200vh; */
    /* min-height: 100vh; */
    min-height: 120vh;
}

svg{
    margin-left: 15rem;
    margin-top: 25px;
}

  .first-page-text{
    position: absolute;
    width: 900px;
    max-width: 1000px;
    max-height: 100%;
    left: 15rem;
    top: 300px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-top: 0px;
    margin: -25vh 0px 0px;
  }
  .last-line-first-page{
    font-family: nyt-cheltenham, NYTCheltenham, cheltenham, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    position: absolute;
    top: 32rem;
    /* left: 0px; */
    max-width: 100%;
  }
@media (min-width: 300px) and (max-width: 1024px){
    .first-page-text{
        left: 37.5rem;
        top: 27rem;
        max-width: 450px;
        font-size: 35px;
        line-height: 50px;
    }
    .last-line-first-page{
        top: 35rem;
        max-width: 450px;
        font-size: 35px;
    }
    svg{
        margin-top: 4rem;
        margin-left: 8.5rem;
    }
    .jordan-sneakers{
        width: 100%;
        height: 179.67px;
        left: 36px;
        top: 265.25px;
    }
}
  .author-line{
    margin-top: -5px;
    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .date{
    margin-top: -15px;
    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .child2 {
    /* float: left; */
    background-color: rgb(242, 190, 190);
    width: 200vh;
    height: 100vh;
  }
  .jordan-sneakers{
    background: url('../../Assets/jordanSneakers.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 564.4px;
    min-height: 500px;
    left: 100rem;
    top: 120px;
    max-width: 100%;
}
.midnightball-img{
    background: url('../../Assets/mokrimidnightbball110 2.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 557px;
    min-height: 370px;
    left: 145rem;
    top: 80px;
}
.text-center{
    position: absolute;
    max-width: 8107px;
    min-height: 97px;
    left: 91rem;
    top: 18rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.styles-line{
    position: absolute;
    max-width: 196.2px;
    min-height: 24.3px;
    left: 130rem;
    top: 35rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.sports-line{
    position: absolute;
    max-width: 196.2px;
    min-height: 24.3px;
    left: 160rem;
    top: 34rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.why-basketball-line{
    position: absolute;
    max-width: 360px;
    min-height: 102.6px;
    left: 160rem;
    top: 36rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.slick-prev:before,
.slick-next:before {
  color: blue!important;
}
.fight-sneakers-line{
    position: absolute;
    max-width: 360px;
    min-height: 102.6px;
    left: 130rem;
    top: 37rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.image-596{
    background: url('../../Assets/image 596.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 383px;
    min-height: 382px;
    left: 200rem;
    top: 27rem;
    max-width: 100%;
}
.child3 {
    background-color: rgb(161, 17, 200);
    width: 200vh;
    height: 100vh;
  }

  .text-center-second{
    position: absolute;
    max-width: 8107px;
    min-height: 97px;
    /* left: 273rem; */
    top: 18rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kareem-img{
    background: url('../../Assets/GettyImages-89405068 1.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 291.99px;
    min-height: 195px;
    left: 228rem;
    top: 27rem;
    max-width: 100%;
}
.sports-line-second{
    position: absolute;
    max-width: 196.2px;
    min-height: 24.3px;
    left: 254rem;
    top: 30rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.kareem-line{
    position: absolute;
    max-width: 360px;
    min-height: 102.6px;
    left: 254rem;
    top: 33rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.basketball-img{
    background: url('../../Assets/GettyImages-640699820 1.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 359px;
    min-height: 360px;
    left: 240rem;
    top: 3rem;
    max-width: 100%;
}
.athletic-line{
    position: absolute;
    max-width: 130px;
    min-height: 27px;
    left: 200rem;
    top: 2rem;
    color: #ffffff;
    font-weight: 800;
    font-size: 23px;
}
.kareem-second-line{
    position: absolute;
    max-width: 508px;
    min-height: 281px;
    left: 200rem;
    top: 4rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.plane-img{
    background: url('../../Assets/planefade-1920-LP 1.png');
    position: absolute;
    width: 346.67px;
    min-height: 195px;
    left: 274rem;
    top: 30.5rem;
    max-width: 100%;
}
.fire-img{
    background: url('../../Assets/Changing-World 1.png');
    position: absolute;
    width: 1200px;
    min-height: 800px;
    left: 275rem;
    max-width: 100%;
}
.wellness-line{
    position: absolute;
    max-width: 218px;
    min-height: 27px;
    left: 322rem;
    top: 1rem;

    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.wellness-line-second{
    position: absolute;
    max-width: 315px;
    min-height: 27px;
    left: 322rem;
    top: 3rem;

    font-family: 'NYTKarnak';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.child4 {
    background-color: rgb(155, 158, 249);
    width: 200vh;
    height: 100vh;
  }

  .text-center-third{
    position: absolute;
    max-width: 8107px;
    min-height: 97px;
    /* left: 363rem; */
    top: 18rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.world-line{
    position: absolute;
    max-width: 218px;
    min-height: 27px;
    left: 297rem;
    top: 34rem;

    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.changing-world-line{
    position: absolute;
    max-width: 533px;
    min-height: 186px;
    left: 297rem;
    top: 36rem;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.human-img{
    background: url('../../Assets/NYT_Understanding_LP_Still_Human Evolution.png');
    position: absolute;
    width: 420px;
    min-height: 235px;
    left: 326rem;
    top: 470px;
    max-width: 100%;
}
.human-running-img{
    background: url('../../Assets/NYT_Understanding_LP_Still_Running.png');
    position: absolute;
    width: 311.8px;
    min-height: 175px;
    left: 322.5rem;
    top: 9rem;
    max-width: 100%;
}
.text-staying-aloft{
    position: absolute;
    max-width: 400px;
    min-height: 186px;
    left: 272rem;
    top: 4rem;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.daily-line{
    position: absolute;
    width: 218px;
    min-height: 27px;
    left: 300rem;
    top: 3rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.daily-line-second{
    position: absolute;
    width: 533px;
    min-height: 101px;
    left: 300rem;
    top: 5rem;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;

    mix-blend-mode: normal;
}
.child5 {
    background-color: rgb(63, 66, 125);
    width: 200vh;
    height: 100vh;
  }

  .skull-img{
    background: url('../../Assets/NYT_Understanding_LP_Still_Chewing 1.png');
    position: absolute;
    width: 535px;
    min-height: 714.91px;
    left: 370rem;
    top: 10px;
    max-width: 100%;
  }
  .skull-img-line{
    position: absolute;
    width: 218px;
    min-height: 27px;
    left: 368rem;
    top: 34rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .chewing-line{
    position: absolute;
    width: 460px;
    min-height: 186px;
    left: 368rem;
    top: 36rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .gum-wrapper-img{
    background: url('../../Assets/60_NewYorkTimes_Sneakers_Offline_CoreEdit_04_10_6PM_GUMINWRAPPER.png');
    position: absolute;
    width: 605px;
    min-height: 759.56px;
    left: 410rem;
    top: 10px;
    max-width: 100%;
  }
  .gum-wrapper-line{
    position: absolute;
    width: 218px;
    min-height: 27px;
    left: 423rem;
    top: 2rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .quit-chewing-line{
    position: absolute;
    width: 460px;
    min-height: 186px;
    left: 423rem;
    top: 4rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .text-center-fourth{
    position: absolute;
    width: 8107px;
    min-height: 97px;
    /* left: 452rem; */
    top: 18rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.child6 {
    background-color: rgb(157, 158, 196);
    width: 200vh;
    height: 100vh;
  }

  .street-gum-img{
    background: url('../../Assets/60_NewYorkTimes_Sneakers_Offline_CoreEdit_04_10_6PM_Street.png');
    position: absolute;
    width: 941px;
    min-height: 825px;
    left: 465rem;
    max-width: 100%;
  }
  .street-gum-line{
    position: absolute;
    max-width: 218px;
    min-height: 27px;
    left: 480rem;
    top: 33rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .street-ny-line{
    position: absolute;
    max-width: 460px;
    min-height: 186px;
    left: 480rem;
    top: 35rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .text-center-fifth{
    position: absolute;
    max-width: 8107px;
    min-height: 97px;
    /* left: 542rem; */
    top: 18rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.child7 {
    background-color: rgb(162, 222, 191);
    width: 200vh;
    height: 100vh;
  }

  .text-center-sixth{
    position: absolute;
    max-width: 8107px;
    min-height: 97px;
    /* left: 633rem; */
    top: 18rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sneakers-img{
    background: url('../../Assets/60_NewYorkTimes_Sneakers_Offline_CoreEdit_04_10_6PM_SHRINK_WRAP.png');
    position: absolute;
    width: 876px;
    min-height: 493px;
    /* left: 630rem; */
    top: 8rem;
    max-width: 100%;
}
.technology-line{
    position: absolute;
    max-width: 218px;
    min-height: 27px;
    left: 565rem;
    top: 5rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.wrapped-sneakers-line{
    position: absolute;
    max-width: 400px;
    min-height: 170px;
    left: 565rem;
    top: 7rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.child8{
    background-color: rgb(168, 138, 226);
    width: 200vh;
    height: 210vh;
    overflow-y: hidden;
}
.last-line{
    position: absolute;
    max-width: 793px;
    min-height: 101px;
    left: 662rem;
    top: 15rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.video-sneakers-img{
    background: url('../../Assets/Screenshot 2023-03-15 at 4.06 1.png');
    position: absolute;
    width: 1080px;
    min-height: 610px;
    left: 645rem;
    top: 25rem;
    max-width: 100%;
}
.grey-sq{
    background: url('../../Assets/Rectangle 3.png');
    position: absolute;
    width: 100%;
    height: 240px;
    top: 63rem;
}
.white-sq{
    background: url('../../Assets/Rectangle 19.png');
    position: absolute;
    width: 100%;
    height: 332px;
    left: 0px;
    top: 78rem;
}
.text-on-greysq{
    position: absolute;
    width: 831px;
    height: 25px;
    left: 20rem;
    top: 4rem;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 28.8px;
    line-height: 34px;
    text-align: center;

    color: #000000;
}
.nyt-logo{
    position: absolute;
    left: 632rem;
    top: 0rem;
}
.year{
    left: 647rem;
    position: absolute;
    top: 4rem;
}
.nyt-sensitive-user-info{
    position: absolute;
    left: 647rem;
    width: 350px;
    top: 6rem;
    bottom: 4.09%;

    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;

    color: #000000;
}
.nyt-company-line-footer{
    position: absolute;
    width: 250px;
    height: 131px;
    left: 675rem;
    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #000000;

}
.about-footer{
    font-weight: 700;
}
.questions-footer{
    position: absolute;
    width: 250px;
    height: 131px;
    left: 695rem;
    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
}
.help-line-footer{
    font-weight: 700;
}