.slider-item{
    /* float: left; */
    background-color: rgb(0, 0, 0);
    /* width: 205vh; */
    height: 100vh;
}
svg{
    margin-left: 60px
}
  .first-page-text{
    position: absolute;
    width: 1000px;
    max-height: 100%;
    left: 1500px;
    top: 300px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-top: 0px;
    margin: -25vh 0px 0px;
  }
  .last-line-first-page{
    font-family: nyt-cheltenham, NYTCheltenham, cheltenham, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    position: absolute;
    top: 480px;
    left: 0px;
    width: 100%;
  }

  .author-line{
    margin-top: -5px;
    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .date{
    margin-top: -15px;
    font-family: 'NYTFranklin';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
  .child2 {
    /* float: left; */
    background-color: rgb(242, 190, 190);
    width: 200vh;
    height: 100vh;
  }
  .jordan-sneakers{
    background: url('../../Assets/jordanSneakers.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 564.4px;
    height: 500px;
    left: 187rem;
    top: 120px;
}
.midnightball-img{
    background: url('../../Assets/mokrimidnightbball110 2.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 557px;
    height: 370px;
    left: 3800px;
    top: 80px;
}
.text-center{
    position: absolute;
    width: 8107px;
    height: 97px;
    left: 2955px;
    top: 300px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.styles-line{
    position: absolute;
    width: 196.2px;
    height: 24.3px;
    left: 3250px;
    top: 35rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.sports-line{
    position: absolute;
    width: 196.2px;
    height: 24.3px;
    left: 3800px;
    top: 34rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.why-basketball-line{
    position: absolute;
    width: 360px;
    height: 102.6px;
    left: 3800px;
    top: 36rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.slick-prev:before,
.slick-next:before {
  color: blue!important;
}
.fight-sneakers-line{
    position: absolute;
    width: 360px;
    height: 102.6px;
    left: 3250px;
    top: 37rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.image-596{
    background: url('../../Assets/image 596.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 383px;
    height: 382px;
    left: 4200px;
    top: 490px;
}
.child3 {
    /* float: left; */
    background-color: rgb(161, 17, 200);
    width: 200vh;
    height: 100vh;
  }

  .text-center-second{
    position: absolute;
    width: 8107px;
    height: 97px;
    left: 273rem;
    top: 340px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kareem-img{
    background: url('../../Assets/GettyImages-89405068 1.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 291.99px;
    height: 195px;
    left: 4650px;
    top: 490px;
}
.sports-line-second{
    position: absolute;
    width: 196.2px;
    height: 24.3px;
    left: 5000px;
    top: 34rem;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.kareem-line{
    position: absolute;
    width: 360px;
    height: 102.6px;
    left: 5000px;
    top: 36rem;
    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    mix-blend-mode: normal;
}
.basketball-img{
    background: url('../../Assets/GettyImages-640699820 1.png');
    background-position: center;
    display: flex;
    position: absolute;
    width: 359px;
    height: 360px;
    left: 5000px;
    top: 150px;
}
.athletic-line{
    position: absolute;
    width: 130px;
    height: 27px;
    left: 4800px;
    top: 5px;
    color: #ffffff;
    font-weight: 800;
    font-size: 23px;
}
.kareem-second-line{
    position: absolute;
    width: 508px;
    height: 281px;
    left: 4800px;
    top: 40px;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.plane-img{
    background: url('../../Assets/planefade-1920-LP 1.png');
    position: absolute;
    width: 346.67px;
    height: 195px;
    left: 5380px;
    top: 30.5rem;
}
.fire-img{
    background: url('../../Assets/Changing-World 1.png');
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 5540px;
}
.wellness-line{
    position: absolute;
    width: 218px;
    height: 27px;
    left: 6558px;
    top: 10px;

    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.wellness-line-second{
    position: absolute;
    width: 315px;
    height: 27px;
    left: 6558px;
    top: 40px;

    font-family: 'NYTKarnak';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.child4 {
    /* float: left; */
    background-color: rgb(155, 158, 249);
    width: 200vh;
    height: 100vh;
  }

  .text-center-third{
    position: absolute;
    width: 8107px;
    height: 97px;
    left: 363rem;
    top: 340px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.world-line{
    position: absolute;
    width: 218px;
    height: 27px;
    left: 5850px;
    top: 560px;

    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.changing-world-line{
    position: absolute;
    width: 533px;
    height: 186px;
    left: 5850px;
    top: 590px;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.human-img{
    background: url('../../Assets/NYT_Understanding_LP_Still_Human Evolution.png');
    position: absolute;
    width: 420px;
    height: 235px;
    left: 410rem;
    top: 470px;
}
.human-running-img{
    background: url('../../Assets/NYT_Understanding_LP_Still_Running.png');
    position: absolute;
    width: 311.8px;
    height: 175px;
    left: 410rem;
    top: 130px;
}
.text-staying-aloft{
    position: absolute;
    width: 400px;
    height: 186px;
    left: 5500px;
    top: 50px;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.daily-line{
    position: absolute;
    width: 218px;
    height: 27px;
    left: 6050px;
    top: 50px;
    font-family: 'NYTKarnak';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.daily-line-second{
    position: absolute;
    width: 533px;
    height: 101px;
    left: 6050px;
    top: 100px;

    font-family: 'NYTCheltenham';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;

    mix-blend-mode: normal;
}
.child5 {
    /* float: left; */
    background-color: rgb(63, 66, 125);
    width: 200vh;
    height: 100vh;
  }

  .text-center-fourth{
    position: absolute;
    width: 8107px;
    height: 97px;
    left: 452rem;
    top: 340px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.child6 {
    /* float: left; */
    background-color: rgb(157, 158, 196);
    width: 200vh;
    height: 100vh;
  }

  .text-center-fifth{
    position: absolute;
    width: 8107px;
    height: 97px;
    left: 542rem;
    top: 340px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.child7 {
    /* float: left; */
    background-color: rgb(162, 222, 191);
    width: 200vh;
    height: 100vh;
  }

  .text-center-sixth{
    position: absolute;
    width: 8107px;
    height: 97px;
    left: 633rem;
    top: 340px;
    font-family: 'NYTCheltenham';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}