html{
  height: 100%;
  /* scroll-behavior: smooth; */
}
body{
  overflow: hidden;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

/* body{
  overflow: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  background: url('./Assets/black-square.png');
  background-size: cover;
  background-position: center; */
  /* display: flex; */
  /* position: absolute; */
  /* width: 1024px; */
  /* height: 1195px; */
  /* left: 0px; */
  /* top: -2px; */
  /* max-width: 1024px; */
  /* height: 100%; */
  /* width: 100%; */
/* }  */
/* @media only screen and (min-width: 1024px) {
  body{
    display: flex;
  }
}  */
