/* body {
  margin: 0;
  font-family: 'NYTCheltenham';
  overflow-x: hidden;
    overflow-y: visible;
    position: relative;
} */
/* .wrapper{
  /* max-width: 1024px; */
  /* display: table-cell; */
  /* margin: 0 auto; */
  /* height: auto; */
  /* overflow-y: scroll; */
  /* transition: margin .5s; */
  /* -webkit-transform-origin:0 0; */
    /* -moz-transform-origin:0 0; */
    /* -ms-transform-origin:0 0; */
    /* transform-origin:0 0; */
/* }  */
/* div{
  height: 100px;
  float: left;
} */
